@model _21660110053NecatiKumdereli.Models.FootballTeam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FootballTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstablishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstablishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Captan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Captan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.President)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.President)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
